<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.LearningTracker.LearningTrackerApp"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.LearningTracker.LearningTrackerApp.LTApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.Activities.MenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.Activities.ResultActivity"
            android:label="@string/title_activity_result"></activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.Activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.AndroidClient"
            android:label="@string/title_activity_client"></activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.Activities.MultChoiceQuestionActivity"
            android:label="@string/title_activity_question"></activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.Activities.ShortAnswerQuestionActivity"
            android:label="@string/title_activity_question"></activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.Activities.SingleQuestionActivity"
            android:label="@string/title_activity_question"></activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.Activities.InteractiveModeActivity"
            android:label="@string/title_activity_interactivemode"></activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.Activities.EvaluationResultsActivity"
            android:label="@string/title_activity_evaluation_results"></activity>
        <activity
            android:name=".Activities.ExerciseActivity"
            android:label="@string/title_exercice_activity"></activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.Activities.QuestionSetActivity"
            android:label="@string/questionsetactivity"></activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.Activities.EvaluationsGraphsActivity"
            android:label="@string/title_activity_evaluation_results"></activity>
        <activity
            android:name="com.LearningTracker.LearningTrackerApp.AndroidDatabaseManager"
            android:label="DB Browsing"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>