<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sciquizapp.LearningTracker"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.sciquizapp.LearningTracker.LTApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sciquizapp.LearningTracker.Activities.MenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sciquizapp.LearningTracker.Activities.ResultActivity"
            android:label="@string/title_activity_result"></activity>
        <activity
            android:name="com.sciquizapp.LearningTracker.Activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name="com.sciquizapp.LearningTracker.AndroidClient"
            android:label="@string/title_activity_client"></activity>
        <activity
            android:name="com.sciquizapp.LearningTracker.Activities.MultChoiceQuestionActivity"
            android:label="@string/title_activity_question"></activity>
        <activity
            android:name="com.sciquizapp.LearningTracker.Activities.SingleQuestionActivity"
            android:label="@string/title_activity_question"></activity>
        <activity
            android:name="com.sciquizapp.LearningTracker.Activities.InteractiveModeActivity"
            android:label="@string/title_activity_interactivemode"></activity>
        <activity
            android:name="com.sciquizapp.LearningTracker.Activities.EvaluationResultsActivity"
            android:label="@string/title_activity_evaluation_results"></activity>
    </application>

</manifest>